:root {
  /* colors copied from original website */

  --color-background-main: lab(2.42579% -0.165291 -0.470081);
  --color-background-invert: lab(100% 0 0);
  --color-text-main: lab(100% 0 0);
  --color-text-invert: lab(2.42579% -0.165291 -0.470081);
  --color-text-soft: lab(100% 0 0 / 0.7);
  --color-text-sub: lab(100% 0 0 / 0.6);
  --color-border-sub: lab(100% 0 0 / 0.07);
  --color-background-soft: lab(100% 0 0 / 0.05);
  --color-border-surface: lab(100% 0 0 / 0.05);
  --color-muted: lab(100% 0 0 / 0.5);
  --color-border-soft: lab#ffffff26(100% 0 0 / 0.15);
  --color-brand: lab(79.9844% -59.6292 22.5096);
  --color-brand-light: lab(51.3415% -41.5657 15.3527);
  --color-border-solid: lab(100% 0 0);
  --color-muted-invert: lab(2.42579% -0.165291 -0.470081 / 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Inter, sans-serif;
  background-color: var(--color-background-main);
  color: var(--color-text-main);
  height: 100vh;
}

header {
  width: 100vw;
  position: fixed;
  top: 0px;
  z-index: 2;
  background-color: lab(100% 0 0 / 0.005);
}

header .container {
  width: 70%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo img {
  width: 100px;
  height: 60px;
}

header .logo {
  margin-right: 120px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  gap: 12px;
  font-size: 14px;
  font-weight: 500;
}


header nav ul li {
  padding: 8px 12px;
  border-radius: 20px;
}

header nav ul li:hover {
  background-color: var(--color-background-soft);
}

button {
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

header .cta-1 {
  background-color: var(--color-background-soft);
  color: var(--color-text-main);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero {
  height: 100vh;
  background-image: url(/assets/section-1/bg-dark.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
